<h1>New Song</h1>
<form action="/songs" method="POST">

  Song:
      <input type="text" name="song[name]" id="song_name"><br>
  <br/>
  Genre:
  <%@genres.each do |genre|%>
    <input type="checkbox" name="song[genre_ids][]"
     id="<%=genre.id%>" value="<%=genre.id>"><br/>
  <br/>
  Artist:
      <input type="text" name="artist[name]" id="artist_name"><br>


<input type="submit" value="Create Song">
</form>
